
.loginBtn
  margin: 10px

.angular-google-map-container
  position: absolute
  top: 20%
  height: 500px
  width: 100%

.map, #map_canvas
  height: 100%
  width: 100%
  margin: 0px

#map_canvas
  position: relative

.sideBar
  z-index: 1000
  height: 500px
  overflow: scroll
  position: absolute
  top: 20%
  left: 60%
  width: 40%
  background-color: white
  padding: 15px

.trailImg
  position: relative
  display: block
  margin: 0 auto
  max-height: 200px

.wishlistImg
  max-width: 100%

.trailName
  text-align: center

.close
  display: block
  margin-left: 50%

.wishlist
  display: block
  margin: 0 auto

.pickDates
  display: inline-block

.pickDatesContainer
  margin: 0
  position: absolute
  top: 10%

.title
  margin-left: 10px

.tripImg
  max-width: 90%
  display: inline-block
  margin: 0 auto
  max-height: 200px

