*
  box-sizing: border-box

html
  height: 100%

body
  min-height: 100%
  position: relative

.wrapperDiv
  min-height: 100%

.loginBtn
  margin: 10px

.angular-google-map-container
  position: relative
  margin-bottom: 10%
  height: 500px
  margin-left: 5%
  width: 90%

.map, #map_canvas
  height: 100%
  width: 100%
  margin: 0px

#map_canvas
  position: relative

.sideBar
  z-index: 1000
  height: 500px
  overflow: scroll
  position: absolute
  top: 19.5%
  left: 60%
  width: 40%
  background-color: white
  padding: 15px

.trailImg
  position: relative
  display: block
  margin: 0 auto
  max-height: 200px

.wishlistImg
  max-width: 100%

.trailName
  text-align: center

.close
  display: block
  margin-left: 50%

.wishlist
  display: block
  margin: 0 auto

.pickDates
  display: inline-block

.pickDatesContainer
  margin: 0
  // position: absolute
  top: 10%

.title
  margin-left: 10px

.tripImg
  max-width: 90%
  display: inline-block
  margin: 0 auto
  max-height: 200px

.greyText
  color: #aaa

.tripsMenu
  z-index: 2000

ul[dnd-list],
ul[dnd-list] > li
  position: relative


ul[dnd-list]
  min-height: 50px
  padding-left: 0px
  list-style-type: none

ul[dnd-list] .dndDraggingSource
  display: none


ul[dnd-list] .dndPlaceholder
  background-color: #ddd

ul[dnd-list] li
  background-color: #fff
  border: 1px solid #ddd
  border-top-right-radius: 4px
  border-top-left-radius: 4px
  display: block
  padding: 10px 15px
  margin: 2px 2px 2px 2px

.selected
  background-color: #f8f8f8

.dayCard
  text-align: center
  background-color: #E2E4E6
  border-radius: 4px
  padding: 2px 10px 5px

.activityCard
  min-height: 42px

.addActivity
  color: #aaa
  padding: 0 0 15px 15px
  cursor: pointer

.addActivity:focus
  outline: 0

.dayInfo
  text-align: left

.activityInput
  background-color: transparent
  border: 0px solid
  min-height: 30px
  text-align: left
  width: 90%
  overflow: auto

.activityInput:focus
  outline: 0

.deleteTrailIcon
  z-index: 1500
  // position: absolute
  top: 80%
  left: 85%
  cursor: pointer
  font-size: 15px
  color: #777

.deleteNoteIcon
  z-index: 1500
  // position: absolute
  top: 40%
  left: 88%
  cursor: pointer
  font-size: 15px
  color: #777

.whyVisit
  margin-top: 10px

.trailInfo
  text-align: left

.deleteTrip
  border-radius: 15px
  display: inline-block
  padding: 8px
  margin-left: 5%
  background-color: #E2E4E6

.deleteTrip:focus
  outline: 0

.tripInformation
  text-align: center

.trailNote
  width: 100%
  text-align: left

.validation-messages
  font-size: 12px
  color: #dd2c00
  margin-left: 15px

.navbar
  background-color: #313131

.navbar-brand,
.navbar-default .navbar-nav>li>a
  color: white

.navbar-default .navbar-nav>li>a:hover
  color: #aaa

.navbar-default .navbar-nav>li>a:focus
  color: #aaa

.selected
  color: #aaa

.packingItem
  display: inline-block

.deletePackingItem
  display: inline
  margin-left: 1%
  color: #900C3F

.deletePackingItem:hover
  color: #C70039

.done-true
  text-decoration: line-through
  color: grey

.showOutline
  border: 1px solid #aaa

.viewIcon
  margin-left: 25%
  font-size: 20px
  display: inline-block

.selectedIcon
  color: #aaa

.listIcon:hover
  color: #5F9F9F

.listIcon:focus
  outline: 0

.thumbnailImg
  height: 60px
  width: auto
  display: block
  margin: 3% auto

.listViewItem
  display: inline-block

.trailItem:focus
  outline: 0

.trailItem:hover
  background-color: #EAEAEA

.singleTripView
  background: url(https://galengray.files.wordpress.com/2013/08/the-mist-trail.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  z-index: -5
  width: 100%

.filterBtn
  display: inline-block
  padding: 8px
  border: 1px solid #313131
  margin: 2px
  margin-bottom: 15px

.filterBtn:first-child
  margin-left: 10%

.filterBtn:focus
  outline: 0

.filterBtn:hover
  background-color: #6FAFAF
  color: white

.selectedFilter
  background-color: #6FAFAF
  color: white

.listViewTrail
  padding: 2px 0px 5px 10px
  background-color: #313131
  color: white
  margin: 3px 3%

.listViewTrail:hover
  background-color: #B8B3AF
  cursor: pointer

.listViewTrail:focus
  outline: 0

.listViewSide
  margin: 3px 0 3px 3%
  width: 57%

.selectedListItem
  background-color: #98939F

.thumbnailImg
  height: 50px
  margin-top: 15%

.list-sideBar
  height: auto
  margin-top: 19.5%
  margin-left: 60%
  width: 40%
  background-color: white
  padding: 15px

