<div class="createTripView">
  <h3> Create a Trip </h3>
  <form name="myForm" flex-gt-xs>
    <div layout-gt-xs="row pickDatesContainer">
      <div flex-gt-xs="">
        <span> <h4 class="pickDates title required">When do you want to go? <span class="asterisk">*</span></h4></span>
        <md-datepicker name="dateField" ng-model="startDate" md-placeholder="Enter start date" class="pickDates" md-min-date="minStartDate" ng-required="true"></md-datepicker>
        <md-datepicker name="dateField" ng-model="endDate" md-placeholder="Enter end date" class="pickDates" md-min-date="minEndDate" ng-click="updateEndDate()" ng-required="true"></md-datepicker>
        <div class="validation-messages" ng-messages="myForm.dateField.$error">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">Both dates are required!</div>
          <div ng-message="mindate">Date is too early!</div>
        </div>
      </div>
    </div>
  </form>
  <label for="tripName">Name: <span class="asterisk">*</span></label>
  <input type="text" class="form-control tripName required" name="tripName" ng-model="trip.name" required/>
  <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" class="col-xs-12" ng-show="showAlert" close="closeAlert()">{{alert.msg}}</div>
  <label for="tripDescription">Description:</label>
  <input type="text" class="form-control" name="tripDescription" ng-model="trip.description"/>
  <div class="checkbox tripType">
    <h4> What kind of trip are you taking? <small> (select all that apply) </small></h4>
    <label>
      <input type="checkbox" ng-model="trip.camping" ng-checked="{{trip.camping}}" class="tripTypeCheck"> Camping and Hiking
    </label>
    <label>
      <input type="checkbox" ng-model="trip.backpacking" ng-checked="{{trip.backpacking}}" class="tripTypeCheck"> Backpacking
    </label>
    <label>
      <input type="checkbox" ng-model="trip.roadtrip" ng-checked="{{trip.roadtrip}}" class="tripTypeCheck"> Roadtrip
    </label>
  </div>
  <div class="checkbox tripType">
    <h4> Where are you going?  <small> (select all parks that apply) </small></h4>
    <label>
      <input type="checkbox" ng-model="trip.yosemite" ng-checked="{{trip.yosemite}}" class="tripTypeCheck"> Yosemite National Park
    </label>
    <label>
      <input type="checkbox" ng-model="trip.glacier" ng-checked="{{trip.glacier}}" class="tripTypeCheck"> Glacier National Park
    </label>
  </div>
  <div class="tripImages">
    <h4> Choose a Trip Photo </h4>
    <div class="row tripPhotoRow">
      <div class="col-sm-offset-1 col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/yosemiteExplore.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/yosemiteExplore.jpg')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/lookingOver.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/lookingOver.jpg')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/roadTrip.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/roadTrip.jpg')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/yosemiteFalls.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/yosemiteFalls.jpg')" class="tripPhoto">
      </div>
    </div>
    <div class="row tripPhotoRow">
      <div class="col-sm-offset-1 col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/backpacker.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/backpacker.jpg')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/yosemiteWishlist.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/yosemiteWishlist.jpg')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/campsite.JPG" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/campsite.JPG')" class="tripPhoto">
      </div>
      <div class="col-sm-2 col-xs-6 tripPhotoDiv">
        <img src="tripPhotos/familyTrip.jpg" alt="Yosemite Photo" ng-click="saveTripPhoto('tripPhotos/familyTrip.jpg')" class="tripPhoto">
      </div>
    </div>
  </div>
  <div>
    <p> <strong> Trip Color </strong></p>
    <span class="tripBackgroundColor blueBackground" ng-click="setTripColor($event, '#4D95E5')"></span>
    <span class="tripBackgroundColor greenBackground" ng-click="setTripColor($event, '#4BBF6B')"></span>
    <span class="tripBackgroundColor yellowBackground" ng-click="setTripColor($event, '#FFC72E')"></span>
    <span class="tripBackgroundColor purpleBackground" ng-click="setTripColor($event, '#89609E')"></span>
    <span class="tripBackgroundColor redBackground" ng-click="setTripColor($event, '#B04632')"></span>
    <span class="tripBackgroundColor greyBackground" ng-click="setTripColor($event, '#83878D')"></span>
    <span class="tripBackgroundColor whiteBackground" ng-click="setTripColor($event, '#FFF')"></span>
  </div>
  <button class="btn btn-success createTripBtn" ng-show="{{!isEditing}}" ng-click="create()">Create Trip</button>
</div>

