<div class="container">
  <div class="row parkOptions">
    <div class="col-md-6">
      <div class="parkYosemite">
        <h1 class="topLine"> ________ </h1>
        <h1> <a href="#/parks/explore/yosemite" class="parkClickOption"> Yosemite </a></h1>
        <h1 class="bottomLine"> ________ </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="parkGlacier">
        <h1 class="topLine"> _______ </h1>
        <h1> <a href="#/parks/explore/glacier" class="parkClickOption"> Glacier </a></h1>
        <h1 class="bottomLine"> _______ </h1>
      </div>
    </div>
  </div>
  <h2> <i> More parks coming soon... </i> </h2>
</div>