<section class="map">
  <div id="map-canvas">
    <ui-gmap-google-map  center="map.center"
                    zoom="map.zoom"
                    options="options",
                    bounds="map.bounds">

    <!-- other ui-gmap-directives here -->
      <ui-gmap-markers
            models="markers" coords="'self'" icon="'icon'" click="onClick">
      </ui-gmap-markers>
    </ui-gmap-google-map>
    <div ng-show="beenClicked" class="sideBar">
      <div><button class="btn btn-default close" ng-click="closeSidebar()">X</button></div>
      <div><button class="btn btn-info wishlist" ng-click="addTrailToWishlist(trailInfo)">Add to Wishlist</button></div>
      <h3 class="trailName"> {{trailInfo.name}} </h3>
      <img src="{{trailInfo.imgUrl}}" alt="Picture of {{trailInfo.name}}" class="trailImg img-responsive">
      <h4> Why Visit? </h4>
      <p> {{trailInfo.whyVisit}} </p>
      <h4 ng-show="trailInfo.description"> Description </h4>
      <p ng-show="trailInfo.description"> {{trailInfo.description}} </p>
    </div>
  </div>
</section>
<!-- <ui-gmap-window
            options="windowOptions"
            closeClick="closeClick()"
            templateUrl='"partials/InfoWindow.html"'
            isIconVisibleOnClick='true'
            >
          </ui-gmap-window> -->
<!-- <section>
  <input type="text" name="searchTrails" ng-model="searchText" id="searchBox" placeholder="Search by park name...">
  <div ng-repeat="trail in trails | filter: {park_name: searchText}">
  <h3 ng-model="newTrail.name"><a ng-href="#/trails/trail/{{item.id}}"> {{trail.name}}</a></h3>
  <p ng-model="newTrail.park_name"> {{trail.park_name}} </p>
  <a href="{{trail.park_agency_website}}" target="_blank"> {{trail.park_name}} Website </a>
</section> -->
    <!-- Wire this up to add trails to firebase -->
    <!-- <button type="submit" ng-click="addTrail()">Add to Trails</button> -->
