<div>
  This is your trip!
  <h4> {{trip.name}} </h4>
  <p> {{trip.description}} </p>
  <img src="{{trip.imgUrl}}" class="tripImg">
<!--   <h3> Activities </h3>
  <div ng-repeat="activity in activities">
    <div>
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-4 tripCard">
          <h3> {{activity.name}}</h3>
          <p> {{activity.description}}</p>
          <img src="{{activity.imgUrl}}" class="tripImg">
          <button class="btn btn-danger" ng-click="removeActivity()">X</button>
        </div>
      </div>
    </div> -->
  </div>
  <div ng-repeat="day in trip.days">
    <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col-xs-4 dayCard" >
        <div>
            <h3> {{day.day}} </h3>
            <p>{{day.date}}</p>
        </div>
      </div>
  </div>