
<div ng-controller="TripDatesCtrl" ng-cloak>
  <form name="myForm" flex-gt-xs>
    <div layout-gt-xs="row pickDatesContainer">
      <div flex-gt-xs>
        <h4 class="pickDates title">Pick dates for your trip </h4>
        <md-datepicker name="dateField" ng-model="startDate" md-placeholder="Enter start date" class="pickDates" md-min-date="minStartDate" required></md-datepicker>
        <md-datepicker name="dateField" ng-model="endDate" md-placeholder="Enter end date" class="pickDates" md-min-date="minEndDate" ng-click="updateEndDate()" required></md-datepicker>
        <md-button class="md-raised" ng-click="getTripDates()">Create Trip</md-button>
        <div class="validation-messages" ng-messages="myForm.dateField.$error">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">This date is required!</div>
          <div ng-message="mindate">Date is too early!</div>
        </div>
      </div>
    </div>
  </form>