<div class="container">
  <div ng-repeat="wishlist in wishlistItems">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
      <div class="col-xs-3 wishlistCard">
        <div ng-click="viewItem(wishlist.id)">
            <h3> {{wishlist.name}} </h3>
        </div>
        <div ng-if="(showMoreInfo === wishlist.id)">
          <h5>{{wishlist.park}}</h5>
          <img src="{{wishlist.imgUrl}}" alt="Picture of {{wishlist.name}}" class="wishlistImg">
          <!-- <p> <strong> Description: </strong>{{wishlist.description}} </p> -->
        </div>
        <button class="btn btn-primary" ng-click="addToTrip()">Add to trip</button>
        <button class="btn btn-danger" ng-click="wishlistDelete(wishlist.fbId)">X</button>
      </div>
  </div>