<div class="wishlistPic">
  <h1 class="wishlistTitle"> Your Wishlist </h1>
</div>
<div class="container">
  <div ng-repeat="wishlist in wishlistItems">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
      <div class="row wishlistCard">
        <div class="col-xs-2">
          <img src="{{wishlist.coverImgUrl}}" alt="Picture of {{wishlist.name}}" class="thumbnailImg">
        </div>
        <div class="col-xs-4">
          <h3> {{wishlist.name}} </h3>
        </div>
        <div class="col-xs-3 wishlistDetails">
          <p> {{wishlist.distance}} </p>
        </div>
        <div class="col-xs-2 wishlistDetails">
          <button class="btn btn-secondary" ng-click="addToTrip(wishlist)">Add to trip</button>
        </div>
        <div class="col-xs-1">
          <div class="deleteWishlist">
          <button tooltip-placement="top-right" uib-tooltip="Remove {{wishlist.name}} from Wishlist" class="btn btn-default close" ng-click="wishlistDelete(wishlist.fbId)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>